# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/

# Build
frontend/dist-electron/

# Environment
.env
.env.dev
.env.prod
frontend/.env
frontend/.env.local
frontend/.env.production.local

# Spring Boot
backend/.gradle/**
backend/build/**
backend/bin/**
!backend/gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
frontend/coverage/
frontend/playwright-report/
frontend/test-results/

# Misc
*.pem
.claude/settings.local.json
backend/.kotlin
docs/00_Study

/frontend/.data